# Airtable
AIRTABLE_TOKEN=patihbBMyLN35Tm7w.xxxxx
AIRTABLE_BASE_ID=appubVom4JyZ3mCEL
AIRTABLE_TABLE_ID=tblbBNgHxp6YNOJOQ
AIRTABLE_APPLICATIONS_TABLE_ID=tblY0ZCn5aqCnwUbz

# Resend (email notifications)
RESEND_API_KEY=re_xxxxx
NOTIFY_EMAIL=joon@adaptive.kitchen
